@using MyFace.Models.Database
@using MyFace.Models.View
@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
    <header>
        <h1 id="#tester">Posts</h1>
    </header>
    <main>
        
        <ul class="pageContent">
            @{
                foreach (var post in Model.Posts)
                {
                    <li class="post @post.Message">
                        <img class="userImage" height="100" width="100" src="@post.ProfileImageUrl">
                        <h2>@post.PostedBy.FirstName</h2>
                        <div class="postContainer">
                            <p> @post.Message</p>
                            <img height="250" width="300" src="@post.ImageUrl" alt="@post.ImageAlt">
                            <button class="myBtn">Create New Post</button>
                            <p>Posted at @post.PostedAt.ToShortTimeString()</p>
                            <p>On @post.PostedAt.ToLongDateString()</p>
                        </div>
                        <hr>
                    </li>
                }
            }
        </ul>
    </main>
}

@section Scripts{
}

